
body {
    font-family: 'SB Sans';
    margin: 0;
}


.wrapper {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-weight: 700;
    font-style: normal;
}

.title--gigantic {
    font-size: 32px;
    line-height: 40px;
}

.title--huge {
    font-size: 24px;
    line-height: 30px;
}

.title--big {
    font-size: 22px;
    line-height: 28px;
    margin-top: 48px;
}

.title--medium {
    margin-top: 62px;
    font-size: 20px;
    line-height: 28px;
}

.title--light {
    font-size: 18px;
    line-height: 22px;
}

.title--tiny {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.news {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.news a {
    color: lightgreen;
}
.quote {
    position: relative;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    line-height: 26px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding-left: 45px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.quote::before {
    display: block;
    content: "";
    width: 20px;
    height: 13px;
    background-image: url("../img/marks.png");
    position: absolute;
    left: 16px;
    top: 24px;
}

.quote__text {
    margin: 0;
}

.quote__name {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.textquote {
    margin-top: 64px;
    border-left: 3px solid #21A137;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
}

.text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 56px;
}

/* Собственно сам слайдер */
.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
}

.textcols {
    display: flex;
}

.textcols-item {
    font-size: 18px;
    line-height: 26px;
    width: 488px;
    margin-right: 64px;
}

.textcols-subitem {
    font-size: 18px;
    line-height: 26px;
    width: 505px;
}

.bulleted {
    width: 570px;
    font-size: 18px;
    line-height: 26px;
}

.bulleted-list {
    position: relative;
    list-style-type: none;
    padding-left: 0;
}

.bulleted-item::before {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #21A137;
    position: absolute;
    margin-top: 10px;
    left: 0;

}

.bulleted-item {
    position: relative;
    padding-left: 16px;
    padding-top: 15px;
}

.bulleted-content {
    position: relative;
    padding-left: 20px;
    padding-top: 15px;
}

.textcols-subitem a {
    color: lightgreen;
}

.bulleted-number-list {
    counter-reset: num;
    list-style-type: none;
    padding-left: 0;
}

.bulleted-content::before {
    content: counter(num) '.';
    counter-increment: num;
    display: block;
    width: 13px;
    height: 18px;
    position: absolute;
    left: 0px;
    color: #21A137;
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .title {
        margin-left: 20px;
    }
    img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        height: auto;
    }
    .news {
        margin-left: 20px;
        margin-right: 20px;
    }

    .quote {
        margin-left: 20px;
        margin-right: 20px;
    }

    .textquote {
        margin-left: 20px;
        margin-right: 20px;
    }
    .textcols {
        margin-left: 20px;
        margin-right: 120px;
    }   

    .textcols-item {
        margin-right: 43px;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
    }

    .bulleted {
        margin-left: 21px;
    }
}

@media screen and (max-width: 320px) {
    .title {
        margin-left: 10px;
    }

    .news {
        margin-left: 10px;
        margin-right: 10px;
        
    }

}