
body {
    font-family: 'SB Sans medium';
    margin: 0;
    padding: 0;
}

.images {
    width: 100%;
    height: 580px;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-family: 'SB Sans';
    font-weight: 700;
    font-style: normal;
}

.title--gigantic {
    font-size: 32px;
    line-height: 40px;
    margin-top: 69px;
}

.title--huge {
    font-size: 24px;
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 24px;
}

.title--big {
    font-size: 22px;
    line-height: 28px;
    margin-top: 48px;
}

.title--medium {
    margin-top: 62px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
}

.title--light {
    font-size: 18px;
    line-height: 22px;
    margin-top: 48px;
    margin-bottom: 16px;
}

.title--tiny {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    margin-top: 48px;
}

.news {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 48px;
}

.news p {
    margin: 0;
    padding-bottom: 10px;
}
.news a {
    color: #21A137;
}

.quote {
    position: relative;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding-left: 45px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.quote::before {
    display: block;
    content: "";
    width: 20px;
    height: 13px;
    background: url("../img/dot.svg") no-repeat center / contain;
    position: absolute;
    left: 16px;
    top: 24px;
}

.quote__text {
    margin: 0;
}

.quote__name {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.textquote {
    margin-top: 64px;
    border-left: 3px solid #21A137;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
}

.text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 56px;
}

.text p {
    margin: 0;
}


.textcols {
    display: flex;
}

.textcols-item {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 26px;
}

.textcols--help {
    padding-right: 64px;
    width: 488px;
}

.textcols--subhelp {
    width: 505px;
}

.textcols-item a {
    color: #21A137;
}


.bulleted {
    width: 570px;
    font-size: 18px;
    line-height: 26px;
}

.bulleted-list {
    position: relative;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.bulleted-list li:first-child {
    padding-top: 0;
}


.bulleted-list li::before {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #21A137;
    position: absolute;
    margin-top: 10px;
    left: 0;

}

.bulleted-list li {
    position: relative;
    padding-left: 16px;
    padding-top: 15px;
}

.bulleted-number-list li {
    position: relative;
    padding-left: 20px;
    padding-top: 15px;
}

.bulleted-number-list li:first-child {
    padding-top: 0;
}

.bulleted-number-list li:nth-child(n+10)::before {
    left: -9px;
}

.textcols-subitem a {
    color: #21A137;
}

.bulleted-number-list {
    counter-reset: num;
    list-style-type: none;
    padding-left: 0;
}

.bulleted-number-list li::before {
    content: counter(num) '.';
    counter-increment: num;
    display: block;
    position: absolute;
    left: 0px;
    color: #21A137;
    font-weight: 300;
    font-size: 14px;
}

.main-header-logo {
    display: flex;
    align-items: center;
}

.logotype {
    width: 236px;
    height: auto;
}   


 .main-header {
    box-shadow: 0px 4px 19px 5px rgba(0, 0, 0, 0.05);
    height: 70px;
    background-color: #fff;
 }

 .main-navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
 }

 .menu-bar {
     display: none;
 }

.form_toggle {
	display: inline-block;
	overflow: hidden;
    background-color: rgba(231,234,236, 0.3);
    border-radius: 3px;
    height: 38px;
    margin-left: 20px;
}

.form_toggle-item {
	float: left;
	display: inline-block;
}

.form_toggle-item input[type=radio] {
	display: none;
}
.form_toggle-item label {
    display: inline-block;
    font-size: 14px;
	line-height: 16px;   
	cursor: pointer;
	user-select: none; 
    color: #BDBEC6;  
    transition: .5s;
}
 
.form_toggle .item-1 label {
    border-radius: 3px;
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 7px 5px 7px 5px;
}
.form_toggle .item-2 label {
	border-radius: 3px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 7px 5px 7px 5px;
}
 

.form_toggle .item-1 input[type=radio]:checked + label {
	background-color: #fff;
    color: #000;
}
.form_toggle .item-2 input[type=radio]:checked + label {
	background: #fff;
    color: #000;

}

.organization {
    position: relative;
    margin-left: 24px;
    padding: 0 16px;
    line-height: 16px;
}

.organization::before {
    position: absolute;
    content: "";
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    left: 0;
    height: 20px;
}

.organization-help {
    display: inline-block;
    text-decoration: none;
    color: #000;
    vertical-align: text-bottom;
}

.organization-module{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.organization-module svg {
    margin-right: 12px;
}


.contact {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    white-space: nowrap;
    font-weight: 400;
}

.contact a {
    text-decoration: none;
    color: #000;
}

.join {
    margin-left: 24px;
}


.join a {
    border: 1px solid #E7EAEC;
    border-radius: 5px;
    background-color: #fff;
    padding: 13px 16px 13px 16px;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color:#000;
}

.join a:hover {
    background-color: #E7EAEC;
}

.preview {
    display: block;
    margin-left: 16px;
    white-space: nowrap;
}

.footer {
    font-size: 14px;
    line-height: 22px;
    background: #F3F4F7;
    padding-top: 32px;
    margin-top: 72px;
}

.footer__basis {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    justify-content: space-between;
    margin-top: 0;
}

.center {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer__logo {
    width: 202px;
    height: 30px;
}

.footer__logo img {
    width: 100%;
    height: auto;
}

.footer__title, .footer__tel {
    white-space: nowrap;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__link {
    color: inherit;
    font-weight: inherit;
    position: relative;
    text-decoration: none;
}

.footer__link--theme {
    color: #29A239;
}

.footer__text {
    margin: 0;
    color: inherit;
}

.footer__feedback {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer__feedback__link {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #E7EAEC;
    text-decoration: none;
    color: inherit;
    padding: 8px 22px 8px 0px;
}

.footer_feedback_logo {
    width: 12px;
    height: 11px;
    margin-right: 12px;
    margin-left: 13px;
}

.footer__row+.footer__row {
    border-top: 1px solid #E9EBEF;
    margin-top: 21px;
    padding-top: 16px;
}

.footer__copyright {
    white-space: nowrap;
    color: #7C7F81;
}


.footer__copyright--secondary {
    line-height: 16px;
}


.footer__networks {
    display: flex;
    justify-content: center;
}

.footer__link_theme {
    display: inline-flex;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.footer__link+.footer__link {
    margin-left: 24px;
}

.footer__apps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 58px;
}

.footer__apps-items {
    margin-left: 24px;
}

.footer__apps-items li {
    display: inline;
    margin-left: 8px;
}

.footer__legal-links {
    background-color: #E9EBEF;
    text-align: center;
    margin-top: 22px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.centerary {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer_legal-link:not(:nth-child(1)) {
    display: inline-block;
    margin-left: 74px;
}


.footer__link--themes {
    color: #7C7F81;
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 580px;
  }

.swiper-slide p {
    margin-top: 0;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
}


.mySwiper .swiper-slide {
    position: relative;
    width: 1200px;
    height: 500px;
  }

.mySwiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

.swiper-button-next::after, .swiper-button-prev::after {
      display: none;
  }


.mySwiper .swiper-button-prev {
    left: calc(50% - 580px);
    right: auto;
}

.mySwiper .swiper-button-next {
    right: calc(50% - 580px);
    left: auto;
}

.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: none;
}

.mySwiper .swiper-slide-next, .mySwiper .swiper-slide-prev {
    position: relative;
    top: 25px;
    height: 448px;  
    filter: brightness(60%);
}

.textimage {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-align: left;
    padding: 16px 16px 16px 16px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
    margin-top: 0px;
}

.menu-slide {
    display: none;
}



@media screen and (max-width: 1024px) {
    .title {
        margin-left: 20px;
    }

    .title--gigantic {
        margin-top: 50px;
    }

    .title--huge {
        margin-top: 40px;
    }
    img {
        max-width: 100%;
        object-fit: cover;
        object-position: center;
        height: auto;
    }
    .news {
        margin-left: 20px;
        margin-right: 20px;
    }

    .quote {
        margin-left: 20px;
        margin-right: 20px;
    }

    .textquote {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .title--medium {
        margin-top: 54px;
    }

    .textcols {
        margin-left: 20px;
        margin-right: 120px;
    }   

    .textcols-item {
        margin-right: 43px;
    }

    .mySwiper .swiper-slide {
        position: relative;
        width: 952px;
        height: 379px;
      }

    .mySwiper .swiper-slide img {
        width: 100%;
        height: 100%;

    }

    .swiper {
        width: 100%;
        height: 450px;
      }

    .mySwiper .swiper-slide-next, .mySwiper .swiper-slide-prev {
        position: relative;
        top: 10px;
        height: 351px;  
        filter: brightness(60%);
    }

    .mySwiper .swiper-button-prev {
        left: calc(50% - 460px);
        right: auto;
    }

    .mySwiper .swiper-button-next {
        right: calc(50% - 460px);
        left: auto;
    }

    .textimage {
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        padding: 16px 24px 16px 16px;
        box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
        margin-top: 0;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 48px;
    }

    .title--tiny {
        margin-top: 0;
    }

    .bulleted {
        margin-left: 21px;
        margin-bottom: 32px;
    }

    .main-navigation {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer {
        margin-top: 56px;
    }

    .center {
        margin-left: 16px;
        margin-right: 16px;
    }

    .footer_legal-link:not(:nth-child(1)) {
        margin-left: 48px;
    }
    .footer__basis {
        flex-basis: content;
    }
    .footer__link--icon {
        margin-left: 36px;
    }

    .footer__apps-items img {
        width: 87px;
        height: 26px;
    }
}

@media screen and (max-width: 320px){
    
    .main-navigation {
        margin-left: 11px;
        margin-right: 10px;
    }


    .main-header-logo a{
        width: 169px;
        height: 30px;
    }

    .preview, .organization, .contact {
        display: none;
    }

    .menu-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 24px;
    }

    .menu-btn {
        display: block;
        width: 16px;
        height: 12px;
        position: relative;
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        width: 16px;
        height: 2px;
        top: 50%;
        margin-top: -1px;
        background-color: #BDBEC6;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: .5s;
    }

    .menu-btn span::before {
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        transform: translateY(5px);
    }

    .menu-btn_active span::before {
        transform: rotate(45deg);
    }

    .menu-btn_active span::after {
        transform: rotate(-45deg);
    }

    .menu-btn_active span {
        background-color: transparent;
    }


    .join {
        font-size: 15px;
        line-height: 18px;
        margin-left: 20px;
    }

    .join a {
        padding: 12px 14px 12px 14px;
    }

    .title {
        margin-left: 10px;
    }

    .title--gigantic {
        margin-top: 34px;
        font-size: 22px;
    }

    .images {
        width: 320px;
        height: 267px;
    }

    .title--huge {
        margin-top: 32px;
        margin-bottom: 16px;
        font-size: 19px;
    }

    .news {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 15px;
        margin-bottom: 32px;
    }

    .quote {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        padding: 16px 22px 16px 33px;
    }

    .quote::before {
        left: 11px;
        top: 19px;
        right: 8px;
        background: url("../img/dot.svg") no-repeat;
    }

    .quote__name{
        font-size: 11px;
        line-height: 13px;;
    }

    .title--big {
        margin-top: 32px;
        font-size: 17px;
        line-height: 21px;
    }

    .mySwiper .swiper-slide {
        width: 300px;
        height: 168px;
      }

    .mySwiper .swiper-button-prev {
        left: calc(50% - 150px);
        right: auto;
    }
    
    .mySwiper .swiper-button-next {
        right: calc(50% - 150px);
        left: auto;
    }

    .swiper {
        width: 100%;
        height: 240px;
      }

    .textimage {
        font-size: 11px;
        line-height: 13px;
        font-weight: 300;
        padding: 16px 10px 16px 10px;
        box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
        margin-top: 0;
    }

    .textquote {
        margin-top: 32px;
        font-size: 15px;
        line-height: 24px;
        margin-left: 10px;
        margin-right: 8px;
        padding-left: 18px;
    }

    .title--medium {
        margin-top: 32px;
        margin-bottom: 8px;
    }

    .textcols {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 32px;
    }

    .textcols-item {
        font-size: 15px;
        line-height: 24px;
        width: 300px;
        padding: 0;
        margin: 0;
    }

    .textcols-subitem {
        font-size: 15px;
        line-height: 24px;
        width: 300px;
    }

    .title--light {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 16px;
        margin-top: 0;
    }

    .text {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0;
        font-size: 15px;
        line-height: 24px;
    }

    .title--tiny {
        font-size: 11px;
        line-height: 13px;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .bulleted {
        margin-left: 10px;
        width: 100%;
        font-size: 15px;
        line-height: 24px;
    }

    .bulleted-list {
        margin-right: 11px;
    }

    .bulleted-number-list {
        margin-right: 11px;
        margin-bottom: 0;
    }

    .footer {
        margin-top: 48px;
        font-size: 11px;
        line-height: 13px;
        padding-top: 24px;
    }

    .footer__logo, .footer__basis, .footer__legal-links {
        display: none;
    }

    .center {
        align-items: center;
        margin-left: 80px;
        margin-right: 161px;
    }

    .footer__title {
        font-size: 15px;
        line-height: 18px;
    }

    .footer__link {
        white-space: nowrap;
    }

    .footer__list li:nth-last-child(n+2) {
        padding-bottom: 8px;
    }

    .footer__list li:last-child {
        padding-bottom: 24px;
    }

    .footer__tel {
        font-size: 15px;
        line-height: 18px;
    }
    .footer_feedback_logo {
        width: 10px;
        height: 9px;
        margin-right: 8px;
        margin-left: 8px;
    }

    .footer__feedback__link {
        padding: 4px 14px 4px 0px;
    }

    .footer__text {
        white-space: nowrap;
    }

    .menu-slide {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 60px;
        background-color: #fff;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        padding: 0;
        margin: 0;
    }

    .menu-slide__active {
        opacity: 1;
        pointer-events: unset;
    }

    .menu-slide li {
        list-style-type: none;
        padding-bottom: 50px;
    }

    .menu-slide li a {
        color: #000;
        text-decoration: none;
    }

    .menu-slide li:last-child {
        padding-bottom: 32px;
    }

    .menu-slide li:first-child {
        padding-top: 32px;
    }
}