body {
    font-family: 'SB Sans';
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.title {
    font-weight: 700;
    font-style: normal;
}

.title--gigantic {
    font-size: 32px;
    line-height: 40px;
}

.title--huge {
    font-size: 24px;
    line-height: 30px;
}

.title--big {
    font-size: 22px;
    line-height: 28px;
    margin-top: 48px;
}

.title--medium {
    margin-top: 62px;
    font-size: 20px;
    line-height: 28px;
}

.title--light {
    font-size: 18px;
    line-height: 22px;
}

.title--tiny {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

.news {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.news a {
    color: lightgreen;
}
.quote {
    position: relative;
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
    line-height: 26px;
    box-shadow: -2px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding-left: 45px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.quote::before {
    display: block;
    content: "";
    width: 20px;
    height: 13px;
    background-image: url("../img/marks.png");
    position: absolute;
    left: 16px;
    top: 24px;
}

.quote__text {
    margin: 0;
}

.quote__name {
    display: block;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}

.textquote {
    margin-top: 64px;
    border-left: 3px solid #21A137;
    font-size: 18px;
    line-height: 26px;
    padding-left: 20px;
}

.text {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 56px;
}

/* Собственно сам слайдер */
.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
    margin-bottom: 15px;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    width: 100% !important;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.textcols {
    display: flex;
}

.textcols-item {
    font-size: 18px;
    line-height: 26px;
    width: 488px;
    margin-right: 64px;
}

.textcols-subitem {
    font-size: 18px;
    line-height: 26px;
    width: 505px;
}

.bulleted {
    width: 570px;
    font-size: 18px;
    line-height: 26px;
}

.bulleted-list {
    position: relative;
    list-style: none;
    left: -20px;
}

.bulleted-item::before {
    display: block;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #21A137;;
    position: absolute;
    left: 16px;

}

.bulleted-item {
    padding-left: 16px;
    padding-top: 15px;
}

.bulleted-content {
    padding-top: 15px;
}

.textcols-subitem a {
    color: lightgreen;
}